.main{
    width: 99vw;
    height: 99vh;
    margin: auto;
}

.heroText{
    width: 70%;
    margin: 15vh auto 90px;
}

.heroText h1{
    font-size: 40px;
}

.heroImage{
    z-index: 2;
}

.joinButton{
    background-color: #6061AC;
    padding: 5px 15px;
    border-radius: 110px;
}

@media only screen and (max-width: 600px) {
    .heroText{
        margin: 5vh auto;
        width: 70vw;
    }

    .heroText h1{
        font-size: 29px;
    }

    .heroImage{
        margin: auto;
        width: 100vw;
    }
}