.hero{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.heroText{
    margin-top: 50px;
}

.heroImg{
    height: 70vh;
}

.headings{
    margin: 10vh;
    backdrop-filter: blur(10px);
}


.table{
    width: 70vw;
    margin: auto;
    display: flex;
    text-align: start;
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
    backdrop-filter: blur(1px);
}

.tableLeft{
    width: 50%;
    padding: 20px 10px 20px 30px;
}

.tableRight{
    border-style: solid;
    border-width: 0 0 0 2px;
    width: 50%;
    padding: 20px 10px 20px 30px;
}

.background2{
    position: absolute;
    height: 120vh;
    width: 100vw;
    top: 150vh;
    overflow: hidden;
    background: conic-gradient(from 187.97deg at 57.75% 44.64%, #3361AD 0deg, #6061AC 90deg, #39B8C8 180deg, #6AC5AA 270deg, #000000 360deg);
    filter: blur(863px);
}


@media only screen and (max-width: 600px) {
    .heroText{
        width: 70vw;
        margin:5vh auto 0 auto;
    }
    .table{
        flex-direction: column;
        width: 90vw;
    }
    .tableLeft{
        width: 100%;
    }
    .tableRight{
        width: 100%;
        border-width: 0;
    }
    .background2{
        top: 130vh;
        height: 350vh;
    }
    .headings{
        font-size: 30px;
    }
}